@font-face {
    font-family: opensans;
    src: url('/fonts/open-sans/OpenSans-Light.ttf');
}
section {
  text-align: center;
}

p, h1, h2, h3, h4, input, select, a {
  color: #656565;
  font-weight: normal;
  font-family: opensans;
  -webkit-font-smoothing: antialiased !important;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
p {
  font-size: 15px;
}
select {
  font-size: 15px;
}
ul {
  margin: 0 auto;
  padding:0;
  max-width: 1000px;
}
li {
  list-style-type: none;
}
a {
  border-bottom: 1px solid #a1a1a1;
  line-height: 45px;
  padding-bottom: 3px;
  text-decoration: none;
  font-size: 18px;
}

.input-wrapper {
  background-color: white !important;;
  border-radius: 5px;
  border: 1px solid rgb(182, 182, 182);
  display: inline-block;
  padding: 1.2em 1em 1.2em 1.5em;
  box-sizing: border-box;
}
.input-wrapper input {
  border: 0;
  font-size: 16px;
  float: left;
  width: 95%;
  color: #3A3A3A;
}
.input-wrapper i {
  float: right;
  width: 4%;
  position: relative;
  top: 5px;
  left: 2px;
  color: #BABABA;
}

select {
  background-color: transparent;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  line-height: 21px;
}
.select-wrapper{
    border-bottom: 1px solid white;;
}
.select-wrapper i {
  margin-left: -3px;
  color: white;
}

.bg-main-color {
  background-color: #F3F7F9;
}

.bg-second-color {
  background-color: #C9CFD3;
}

/* Banner
-----------------------------------------------------*/
.banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1000px;
  width: 100%; /* Using Glen Maddern's trick /via @mente */

  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/eisenstein.png");
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */

  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.banner {
  padding: 8% 0 15%;
}
.banner h1 {
  color: white;
  text-shadow: 3px 3px 4px #000;
  margin-bottom: 0;
}
.banner .input-wrapper {
  max-width: 640px;
  width: 90%;
  margin: 15px auto 10px auto;
}
.filter-container * {
  color: white;
  display: inline;
}

/* Genres
--------------------------------------------------------*/
.genres {
  background-color:white;
  text-align: center;
  padding: 2em 0 6em;
}

.genres ul {
  margin-top: 40px;
  height: 120px;
}

.genres li {
  width: 33.333%;
  float: left;
}

/* Showcase
--------------------------------------------------------*/
.showcase {
  padding: 40px 0;
}
.showcase ul {
  height: 50px;
  width: 95%;
  max-width: 700px;
}
.showcase li {
  width: 33.333%;
  float: left;
}
.showcase-grid {
  width: 95%;
  max-width: 1200px;
  margin: 2em auto;
  height: 40em;
  box-sizing: border-box;
}
.showcase div.showcase-movie:first-of-type {
  width: 66.6%;
  height: 66.6%;
}
.showcase div.showcase-movie {
  position: relative;
  padding: 5px;
  width: 33.3333%;
  height: 33.333%;
  float: left;
  box-sizing: border-box;
}
.showcase article div {
  color: white;
  position: relative;
  top: 45%;
}

.showcase .bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; /* Using Glen Maddern's trick /via @mente */
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0; /* Keep the background behind the content */
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.showcase img {
  position: relative;
  padding: 2%;
  box-sizing: border-box;
  height: 100%;
}

/* About
------------------------------------------------------*/
.about {
  height: 430px;
}

.about ul {
  width: 95%;
  max-width: 1000px;
}

.about p {
  margin: .5em auto;
  max-width: 800px;
  text-align: left;
}
