
<!-- Banner -->

<section class="banner">
  <h1>Eisenstein</h1>
  <div class="input-wrapper">
    <input type="text" placeholder="Αναζήτηση ταινιών..." />
    <i class="fa fa-search"></i>
  </div>
  <div class="filter-container">
    <p>{{moviesLength}} movies in</p>
    <div class="select-wrapper">
      <select>
        <option>All</option>
      </select>
      <i class="fa fa-caret-down"></i>
    </div>
  </div>
</section>

<!-- Genres -->

<section class="genres">
  <h2>Τι ταινία θες να δεις;</h2>
  <ul>
    <li><a href="#/">Πολεμική</a></li>
    <li><a>Δράμα</a></li>
    <li><a>Ιστορική</a></li>
    <li><a>Ντοκιμαντέρ</a></li>
    <li><a>Κοινωνική</a></li>
    <li><a>Σοβιετική</a></li>
    <li><a>Kωμωδία</a></li>
    <li><a>Βιογραφία</a></li>
    <li><a>Ασπρόμαυρη</a></li>
  </ul>
</section>
<section class="showcase bg-second-color">
  <ul>
    <li><a>Προτεινόμενες</a></li>
    <li><a>Δημοφιλείς</a></li>
    <li><a>Νέες προσθήκες</a></li>
  </ul>
  <div class="showcase-grid">
    <div class="wrapper">
      <article class="_1">
        <div>1900</div>
      </article>
    </div>
    <div class="wrapper">
    <article class="_2">
      <div>Ae Fond Kiss</div>
    </article>
  </div>
    <div class="wrapper">
    <article class="_3">
      <div>American History X</div>
    </article>
  </div>
    <div class="wrapper">
    <article class="_4">
      <div>Apocalypse Now</div>
    </article>
  </div>
    <div class="wrapper">
    <article class="_5">
      <div>Bread and Roses</div>
    </article>
  </div>
    <div class="wrapper">
    <article class="_6">
      <div>Buena Vista Social Club</div>
    </article>
  </div>
  </div>
</section>
<section class="about">
  <h2>Σχετικά με εμάς</h2>
    <p>
      Είμαστε μια ομάδα φοιτητών που επιδιώκουμε, νέα παιδιά κυρίως,
      να έρθουν σε επαφή με τον προοδευτικό κινηματογράφο, ο οποίος έχει να προσφέρει
      πολλά τόσο από καλλιτεχνικής απόψης, όσο και από αυτά που θέλει να αναδείξει μέσα από το περιεχόμενο του.
    </p>
    <p>
      Πήραμε την πρωτοβουλία να δημιουργήσουμε το "Eisenstein" γιατί θεωρούμε ότι η πολιτιστική
      καλλιέργεια μπορεί να συμβάλλει ώστε να αναδειχτεί μια άλλη προοπτική,
      για τον σοσιαλισμό-κομμουνισμό και ο κινηματογράφος είναι μια τέχνη που μπορεί να το αποτυπώσει πολύ παραστατικά.
    </p>
</section>
<section class="bg-second-color">
  <li>
    <h4>Δε βρίσκεις τη ταινία που θες;</h4>
  </li>
  <li>
    <p>
      Επικοινώνησε μαζί μας στο email@email.com
    </p>
  </li>
  <p>Movies are available under the free act of patriotism for pirated movies
    online. Additional terms may apply</p>
  <p>Logo name here , 2015</p>
</section>
{{outlet}}
