
<!-- Banner -->

<section class="banner">
  <h1>Eisenstein</h1>
  <div class="input-wrapper">
    {{input action="search" onEvent="keypress" placeholder="Αναζήτηση ταινιών..."}}
    <i class="fa fa-search"></i>
  </div>
  <div class="filter-container">
    <p>{{moviesLength}} ταινίες σε</p>
    <div class="select-wrapper">
      <select>
        <option>Όλες</option>
      </select>
      <i class="fa fa-caret-down"></i>
    </div>
  </div>
</section>

<!-- Genres -->

<section class="genres">
  <h2>Τι ταινία θες να δεις;</h2>
  <ul>
    <li><a>Ασπρόμαυρη</a></li>
    <li><a>Ιστορική</a></li>
    <li><a>Ντοκιμαντέρ</a></li>
    <li><a>Βιογραφία</a></li>
    <li><a>Κοινωνική</a></li>
    <li><a href="#/">Πολεμική</a></li>
    <li><a>Δράμα</a></li>
    <li><a>Kωμωδία</a></li>
    <li><a>Σοβιετική</a></li>
  </ul>
</section>

<!-- Showcase -->

{{render "showcase"}}

<!-- About -->

<section class="about">
  <h2>Σχετικά με εμάς</h2>
    <p>
      Είμαστε μια ομάδα φοιτητών που επιδιώκουμε, νέα παιδιά κυρίως,
      να έρθουν σε επαφή με τον προοδευτικό κινηματογράφο, ο οποίος έχει να προσφέρει
      πολλά τόσο από καλλιτεχνικής απόψης, όσο και από αυτά που θέλει να αναδείξει μέσα από το περιεχόμενο του.
    </p>
    <p>
      Πήραμε την πρωτοβουλία να δημιουργήσουμε το "Eisenstein" γιατί θεωρούμε ότι η πολιτιστική
      καλλιέργεια μπορεί να συμβάλλει ώστε να αναδειχτεί μια άλλη προοπτική,
      για τον σοσιαλισμό-κομμουνισμό και ο κινηματογράφος είναι μια τέχνη που μπορεί να το αποτυπώσει πολύ παραστατικά.
    </p>
</section>

<!-- Footer -->

<section class="bg-second-color">
  <p>Δε βρίσκεις τη ταινία που θες;</p>
  <p>
    Επικοινώνησε μαζί μας στο email@email.com
  </p>
  <p>Eisenstein , 2015</p>
</section>
